<div class="main-banner">
  <img src="'../../../assets/images/brooke-lark-08bOYnH_r_E-unsplash.jpg" />
</div>

<div class="menu-list">
  <div class="food-line-one">
    <div class="box-one">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
    </div>
    <div class="box-two">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
    </div>
    <div class="box-three">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
    </div>
  </div>

  <div class="food-line-two">
    <div class="box-one">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
    </div>
    <div class="box-two">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
    </div>
    <div class="box-three">
      <img src="'../../../assets/images/food.jpg" />
      <div class="name-and-price">
        <h4>Beef Platter</h4>
        <h4>4,000.00</h4>
      </div>
      <button>
        Buy This Food
      </button>
  </div>
</div>
<button>See More</button>
